body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* BLUR */

.blur {
  background-color: rgb(155, 155, 155, 0.5);
}

/* TRANSITION */

.trans {
  transition: all 100ms ease;
}

/* FONT FAMILY */
* {
  font-family: 'Raleway';
}

/* TOOGLE */

input:checked ~ .toggle__dot {
  transform: translateX(100%);
  background-color: #1da571;
}

/* LOADING SPINNER */

.loader {
  border: 2px solid #f3f3f3;
  border-radius: 50%;
  border-top: 2px solid lightgray;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: auto !important;
  margin-bottom: auto !important;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ANIMATIONS */

.fadeIn {
  animation: fadeIn ease 100ms;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
